<!DOCTYPE html>
<html>
  <head>
   <link href="style.css" rel="stylesheet"> 
    <meta charset="utf-8">
    <title>Contratação - Craps</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="vi_inicial.html" class="inicio">Craps</a>
        <ul>
          <li><a class="botao" href="vi_vagas_html.php"><span class="icon">&#x1F4BC;</span>Vagas</a></li>
          <li><a class="botao" href="vi_form_formulario_html.php"><span class="icon">&#x1F4DD;</span>Formulários</a></li>
          <li><a class="botao" href="vi_admin_html.php"><span class="icon">&#128274;</span>Adiministrador</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>Bem-vindo à página de contratação da Craps.</h2>
      <p> Aqui você pode encontrar informações sobre nossas vagas disponíveis em <a class="botao" href="vi_vagas_html.php"><span class="icon">&#x1F4BC;</span>Vagas</a></p>   
      <p> Pode preencher o formulários para se candidatar para alguma de nossas vagas em <a class="botao" href="vi_form_formulario_html.php"><span class="icon">&#x1F4DD;</span>Formulários</a></p>
      <p> E não menos importante, para nossos recrutadores, acesse em <a class="botao" href="vi_admin_html.php"><span class="icon">&#128274;</span>Adiministrador</a></p>
      <p> Nossa equipe de recursos humanos está pronta para avaliar seu perfil e encontrar a melhor posição para você.</p>
    </main>
    <footer>
      <p>&copy; 2023 Craps - Todos os direitos reservados.</p>
    </footer>
  </body>
</html>